.DS_Store
helloWorld/
review/
practice/
env/
django3/
zelle_textbook/Python3rdEdSolutionsAndCode/
.idea/
reference/
backup/
zelle_textbook/ch5/messages.txt
wimlds/data/
fast_api_tutorials/reference/
__pycache__/
/Users/kylegilbert/Desktop/Density/config-update-interface-app/config-update-interface-backend/ip-address-3/__pycache__