.DS_Store
helloWorld/
python-virtual-environments/review/
practice/
python-virtual-environments/env/
python-virtual-environments/django3/
python-virtual-environments/zelle_textbook/Python3rdEdSolutionsAndCode/
.idea/
python-virtual-environments/reference/
backup/
python-virtual-environments/zelle_textbook/ch5/messages.txt
python-virtual-environments/wimlds/data/
python-virtual-environments/mad_libs_project/data/