<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Detail</title>
</head>
<body>
    <!-- https://docs.djangoproject.com/en/3.2/ref/templates/language/ -->

    <!-- specify which app's vote view with app_name ("namespace") in polls/urls.py -->
    <!-- Get vs. Post in html forms: https://www.w3schools.com/tags/att_form_method.asp -->
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} <!-- all POST forms that are targeted at internal URLs should use this, to protect against cross site scripting -->
        <fieldset>
            <legend>
                <h1>{{ question.question_text }}</h1>
            </legend>

            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}

            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                <br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote" />
    </form>
</body>
</html>